.main-section img{
  height: 500px;
  width: 525px;
  
}
.main-section{
 background-color:navy;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 font-family:'Bebas Neue', cursive;
 color: white;
}
h1{
 text-align: center;
 padding: 15px;
 font-family:'Bebas Neue', cursive;
}
h3{
  text-align: center;
}