/* index.html */
body{
  background-color: navy;


}
.navbar{
  padding: 40px;
  
}

.jumbotron{
  text-align: center;
  padding: 180px;
  color: whitesmoke;
  background-color: navy;
}

.card-img-top {
  height: 400px;
  width: 500px;
}

.cardL {
  height: 550px;
  width: 500px;
text-align: center;
float: right;
background-color: whitesmoke;

}

.cardR {
  height: 550px;
  width: 500px;
text-align: center;
float: left;
background-color: whitesmoke;
}