/* index.html */
body{
<<<<<<< HEAD
  background-color: #6DAFFE;
=======
  background-color: navy;

>>>>>>> 7dc865a448c9f4bcccfb6a5db7e5fdd25b3f4edc

}
.navbar{
  padding: 20px;
  
}


.jumbotron{
  text-align: center;
  padding: 180px;
  color: whitesmoke;
  background-color: navy;
}

